* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/*font-family: 'Roboto', sans-serif;*/
.navbar-brand span {
    font-family: cursive;
    font-size: 30px;
}

.navbar-nav li {
    font-family: 'inconsolata', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding-left: 25px;
    
}


.intro-sec {
    height: 620px;
    width: 100%;
    background-image: url(./pexels-thanhhoa-tran-1462892.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.intro-sec h1 {
    padding-top: 150px;
    font-family: 'Roboto';
    font-size: 80px;
    font-weight: 600;
}
.intro-sec p {
    font-size: 30px;
    font-family: 'Roboto';
    font-weight: bold;
}

.intro-sec p a {
    text-decoration: none;
}
 .intro-sec p a:hover {
    text-decoration: underline 6px rgb(70, 182, 234);
 }
.about-sec {
    width: 100%;
    height: 620px;
    background: rgb(37, 166, 241);
}
.about-sec p {
    font-size: 20px;
}
.about-sec .container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-sec .container .div1  {
    width: 400px;
    height: 400px;
    background: white;
    border-radius: 20px;

}
.about-sec .div1 .icon {
    font-size: 50px;
}
.about-sec h1 {
    font-family: 'Roboto';
}

.about-sec p {
    font-family: 'inconsolata';
}
.summer {
    width: 100%;
    height: 600px;
}
.summer img {
    height: 400px;
}
.tour {
    height: 1400px;
    width: 100%;
    background: rgb(37, 166, 241);
}
.tour h1 {
    font-family: 'Roboto';
    
}
.tour-grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.tour .grid-item {
    width: 390;
    height: 550px;
    background: white;
    border-radius: 20px;
}

.tour .item1 img {
    width: 370px;
    height: 310px;
    border-radius: 10px;
    margin: 10px;
}
.tour .item2 img {
    width: 370px;
    height: 310px;
    border-radius: 10px;
    margin: 10px;   
}
.tour .item3 img {
    width: 370px;
    height: 310px;
    border-radius: 10px;
    margin: 10px;   
}
.tour .item4 img {
    width: 370px;
    height: 310px;
    border-radius: 10px;
    margin: 10px;
}
.tour .item5 img {
    width: 370px;
    height: 310px;
    border-radius: 10px;
    margin: 10px;

}
.tour .item6 img {
    width: 370px;
    height: 310px;
    border-radius: 10px;
    margin: 10px;

}

.tour h3 p {
    font-family: 'inconsolata';
}
.tour h3 {
    padding-top: 10px;
    padding-left: 30px;
}
.tour p {
    padding-left: 30px;
    font-size: 15px;
}

.tour button {
    width: 150px;
    height: 50px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 30px;
    background: rgb(41, 160, 234);
    border: 1px solid rgb(41, 160, 234);
}

[data-component="slideshow"] .slide {
    display: none;
  }

  [data-component="slideshow"] .slide.active {
    display: block;
  }
  [data-component="slideshow"] .list {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .beach {
    height: 980px;
    width: 100%;
    background: white;
  }
  .beach .grid-container {
    display: grid;
    height: 100vh;
    grid-template-rows: 400px 400px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
  }
  .beach .grid-item {
    border: 3px solid white;
  }
  .beach img {
    width: 410px;
    height: 390px;
  }
  .beach h2 {
    font-family: 'inconsolata';
    font-size: 50px;
  }
  .break {
    width: 100%;
    height: 670px;
    background: rgb(70, 182, 234);
  }
  .break .grid-container {
    display: flex;
    justify-content: center;
    
  }

  .break img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-top: 20px;
    margin-left: 20px;
  }
  .break .grid-item {
    width: 350px;
    height: 450px;
    background: white;
    border-radius: 20px;
  }
  .break p {
    font-size: 18px;
    font-family: 'Roboto';
  }
  .contacts {
    width: 100%;
    height: 500px;
    background: white;
    display: grid;
    justify-content: center;
  }
.form-container {
    background: gainsboro;
    width: 600px;
    height: 300px;
    border-radius: 20px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
  